<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

**Analisi di serie temporali:**

Insieme al consumo di energia elettrica, il set di dati **OPSD_Germany_all** riporta la produzione giornaliera di energia solare ed eolica.

Svolgi i seguenti punti nello stesso notebook:

**1** Caricare il set di dati come frame di dati, utilizzando Data come indice temporale. La produzione di energia solare non è disponibile fino al 31 dicembre 2011; dal dataframe selezionare solo i record successivi a questa data.

**2.** Creare una colonna Rinnovabili come somma di energia solare ed eolica.

**3.** Calcolare il rapporto tra 

    a) la produzione rinnovabile totale di settembre 2014 e
    
    b) il consumo elettrico totale dello stesso mese.
    

**4.** Utilizzando le proprietà di indicizzazione di Date (hint: index.day_name()), creare la colonna 'Weekday' contenente, per ogni record, il giorno della settimana in cui è stato osservato (lunedì, martedì,...).

**5.** Creare la serie sunday_wind contenente (solo) la produzione eolica della domenica.

**6.** Calcolare la produzione eolica media domenicale tra gennaio e marzo 2017 (incluso)

In [1]:
import pandas as pd

In [2]:
#1
df = pd.read_csv('OPSD_Germany_all.csv',
                 parse_dates=True,
                 index_col='Date')

df = df.loc['2012':]

df.head()

            Consumption     Wind   Solar
Date
2012-01-01      948.128  227.465   6.587
2012-01-02     1269.581  207.327   6.574
2012-01-03     1334.745  473.468  24.679
2012-01-04     1347.136  499.804  14.681
2012-01-05     1376.658  523.851   5.071

In [3]:
#2
df['Renewable'] = df['Wind'] + df['Solar']

df.head()

            Consumption     Wind   Solar  Renewable
Date
2012-01-01      948.128  227.465   6.587    234.052
2012-01-02     1269.581  207.327   6.574    213.901
2012-01-03     1334.745  473.468  24.679    498.147
2012-01-04     1347.136  499.804  14.681    514.485
2012-01-05     1376.658  523.851   5.071    528.922

In [4]:
#3
a = df.loc['2014-09']['Renewable'].sum()
b = df.loc['2014-09', 'Consumption'].sum()#sintassi alternativa

print(f'On September 2014, the ratio between renewable energy production and total consumption is {a/b:.2f}')

On September 2014, the ratio between renewable energy production and total consumption is 0.13

In [5]:
#4
df['Weekday'] = df.index.day_name()
df.head()

            Consumption     Wind   Solar  Renewable    Weekday
Date
2012-01-01      948.128  227.465   6.587    234.052     Sunday
2012-01-02     1269.581  207.327   6.574    213.901     Monday
2012-01-03     1334.745  473.468  24.679    498.147    Tuesday
2012-01-04     1347.136  499.804  14.681    514.485  Wednesday
2012-01-05     1376.658  523.851   5.071    528.922   Thursday

In [6]:
#5
sunday_wind = df[df['Weekday'] == 'Sunday']['Wind']

sunday_wind.head()

Date
2012-01-01    227.465
2012-01-08    220.851
2012-01-15     34.468
2012-01-22    418.173
2012-01-29     78.807
Name: Wind, dtype: float64

In [7]:
#6
x = sunday_wind['2017-01':'2017-03'].mean()

print(f'Between January and March 2017, the average Sunday production of wind energy is {x:.2f}')

Between January and March 2017, the average Sunday production of wind energy is 276.96