# Introduction to Data Science and Machine Learning

<p align="center">
    <img width="699" alt="image" src="https://user-images.githubusercontent.com/49638680/159042792-8510fbd1-c4ac-4a48-8320-bc6c1a49cdae.png">
</p>

---

## Exploratory Data Analysis - Homework

The aim of this notebook is to give you an exercise to perform an exploratory data analysis in order to extract some useful information hidden in data.

We are going to analyse the [Tennis dataset](http://tennis-data.co.uk). In order to guide your analysis, you should try to approach the problem by wondering some questions. The role of the analysis is to find the answers.

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
from urllib.request import urlopen  
import os.path as osp
import os
import logging
import zipfile
from glob import glob
logging.getLogger().setLevel('INFO')

## Helpers

In [2]:
def download_file(url_str, path):
    url = urlopen(url_str)
    output = open(path, 'wb')       
    output.write(url.read())
    output.close()  
    
def extract_file(archive_path, target_dir):
    zip_file = zipfile.ZipFile(archive_path, 'r')
    zip_file.extractall(target_dir)
    zip_file.close()

## Download the dataset

In [3]:
BASE_URL = 'http://tennis-data.co.uk'
DATA_DIR = "tennis_data"
ATP_DIR = './{}/ATP'.format(DATA_DIR)
WTA_DIR = './{}/WTA'.format(DATA_DIR)

ATP_URLS = [BASE_URL + "/%i/%i.zip" % (i,i) for i in range(2000,2019)]
WTA_URLS = [BASE_URL + "/%iw/%i.zip" % (i,i) for i in range(2007,2019)]

os.makedirs(osp.join(ATP_DIR, 'archives'), exist_ok=True)
os.makedirs(osp.join(WTA_DIR, 'archives'), exist_ok=True)

for files, directory in ((ATP_URLS, ATP_DIR), (WTA_URLS, WTA_DIR)):
    for dl_path in files:
        logging.info("downloading & extracting file %s", dl_path)
        archive_path = osp.join(directory, 'archives', osp.basename(dl_path))
        download_file(dl_path, archive_path)
        extract_file(archive_path, directory)
    
ATP_FILES = sorted(glob("%s/*.xls*" % ATP_DIR))
WTA_FILES = sorted(glob("%s/*.xls*" % WTA_DIR))

df_atp = pd.concat([pd.read_excel(f) for f in ATP_FILES], ignore_index=True)
df_wta = pd.concat([pd.read_excel(f) for f in WTA_FILES], ignore_index=True)

logging.info("%i matches ATP in df_atp", df_atp.shape[0])
logging.info("%i matches WTA in df_wta", df_wta.shape[0])

INFO:root:downloading & extracting file http://tennis-data.co.uk/2000/2000.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2001/2001.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2002/2002.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2003/2003.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2004/2004.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2005/2005.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2006/2006.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2007/2007.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2008/2008.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2009/2009.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2010/2010.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2011/2011.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2012/2012.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2013/2013.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2014/2014.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2015/2015.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2016/2016.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2017/2017.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2018/2018.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2007w/2007.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2008w/2008.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2009w/2009.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2010w/2010.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2011w/2011.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2012w/2012.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2013w/2013.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2014w/2014.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2015w/2015.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2016w/2016.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2017w/2017.zip
INFO:root:downloading & extracting file http://tennis-data.co.uk/2018w/2018.zip
/Users/oscar/.local/lib/python3.9/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)
INFO:root:52298 matches ATP in df_atp
INFO:root:29581 matches WTA in df_wta

## Problem description

### The data
The website‚Äã [‚Äãhttp://tennis-data.co.uk/alldata.php‚Äã](‚Äãhttp://tennis-data.co.uk/alldata.php‚Äã) gathers outcomes of both WTA‚Äã (Women Tennis Association)‚Äã and ATP ‚Äã(Association of Tennis Professionals - men only)‚Äã tennis games over several years.
A short description of each variable can be found here : [http://www.tennis-data.co.uk/notes.txt](http://www.tennis-data.co.uk/notes.txt)

### What is expected from you
First of all, answer the following questions.

#### Questions
Please answer the following questions about the dataset with the appropriate line(s) of code.

##### Example

__Question‚Äã__: How many ATP matches are there in the dataset? 

__Answer‚Äã__: 
```python
len(df_atp)
```

1. Who are the three ATP players with the most wins ?
2. How many sets did the player ‚Äú‚ÄãFederer R.‚Äù win in total ?
3. How many sets did the player ‚Äú‚ÄãFederer R.‚Äù win during the years 2016 and 2017 ?
4. For each match, what is the percentage of victories of the winner in the past ?
5. How are (differently) distributed wins of players in the age segments `[16-23]`, `[24-30]` `[30+]`?
6. Does the behaviour in the previous answer changes between men and women?

_Hint_: Careful with null values and how you handle them.

#### Bonus points

* your notebook contains graphics that are both interesting and pretty
* we can go through your entire notebook without frowning
* you teach us something cool üôÇ

#### Free Analysis

We would like you to perform some free analysis. For example study distributions, correlations, etc.

---

## Your Work

Have fun!

In [4]:
df_atp.describe()

,ATP,Best of,W1,L1,W4,L4,W5,L5,Wsets,CBW,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
count,52298.000000,52298.000000,52035.000000,52037.000000,4731.000000,4731.000000,1791.000000,1791.000000,52074.000000,17506.000000,...,10671.000000,10671.000000,28131.000000,28142.000000,15572.000000,15579.000000,22745.000000,22745.000000,22745.000000,22745.000000
mean,33.222532,3.372366,5.794331,4.056229,5.777003,3.863454,6.637633,3.756002,2.141760,1.812080,...,1.815867,3.542479,1.810226,3.451461,1.796538,3.557943,1.998610,8.326076,1.834821,3.594448
std,18.115493,0.778516,1.239577,1.845206,1.274712,1.895683,2.290596,2.817183,0.460311,0.868254,...,0.996238,3.646316,1.031691,3.075889,1.004273,3.272510,1.628982,397.235666,1.107884,3.282610
min,1.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,1.010000,1.020000,1.000000,1.000000,1.000000,1.010000,1.010000,1.010000,1.010000,1.010000
25%,19.000000,3.000000,6.000000,3.000000,6.000000,2.000000,6.000000,2.000000,2.000000,1.280000,...,1.240000,1.750000,1.250000,1.730000,1.220000,1.730000,1.290000,1.850000,1.240000,1.740000
50%,33.000000,3.000000,6.000000,4.000000,6.000000,4.000000,6.000000,3.000000,2.000000,1.550000,...,1.500000,2.500000,1.500000,2.500000,1.500000,2.630000,1.570000,2.780000,1.500000,2.550000
75%,49.000000,3.000000,6.000000,6.000000,6.000000,6.000000,7.000000,5.000000,2.000000,2.050000,...,2.030000,3.850000,2.000000,4.000000,2.000000,4.000000,2.200000,4.540000,2.060000,3.990000
max,69.000000,5.000000,7.000000,7.000000,7.000000,7.000000,70.000000,68.000000,3.000000,14.000000,...,18.000000,60.000000,26.000000,51.000000,19.000000,81.000000,76.000000,42586.000000,23.450000,36.440000

In [5]:
df_atp.info(memory_usage=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52298 entries, 0 to 52297
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         52298 non-null  int64
 1   Location    52298 non-null  object
 2   Tournament  52298 non-null  object
 3   Date        52298 non-null  datetime64[ns]
 4   Series      52298 non-null  object
 5   Court       52298 non-null  object
 6   Surface     52298 non-null  object
 7   Round       52298 non-null  object
 8   Best of     52298 non-null  int64
 9   Winner      52298 non-null  object
 10  Loser       52298 non-null  object
 11  WRank       52283 non-null  object
 12  LRank       52220 non-null  object
 13  W1          52035 non-null  float64
 14  L1          52037 non-null  float64
 15  W2          51526 non-null  object
 16  L2          51527 non-null  object
 17  W3          24169 non-null  object
 18  L3          24168 non-null  object
 19  W4          4731 non-null   float64
 20  L4          4731 non-null   float64
 21  W5          1791 non-null   float64
 22  L5          1791 non-null   float64
 23  Wsets       52074 non-null  float64
 24  Lsets       52073 non-null  object
 25  Comment     52298 non-null  object
 26  CBW         17506 non-null  float64
 27  CBL         17506 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       43643 non-null  float64
 35  B365L       43666 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         39411 non-null  object
 39  EXL         39416 non-null  float64
 40  PSW         37339 non-null  float64
 41  PSL         37339 non-null  float64
 42  WPts        36094 non-null  float64
 43  LPts        36035 non-null  float64
 44  UBW         10671 non-null  float64
 45  UBL         10671 non-null  float64
 46  LBW         28131 non-null  float64
 47  LBL         28142 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        22745 non-null  float64
 51  MaxL        22745 non-null  float64
 52  AvgW        22745 non-null  float64
 53  AvgL        22745 non-null  float64
dtypes: datetime64[ns](1), float64(34), int64(2), object(17)
memory usage: 21.5+ MB

In [4]:
df_atp['Lsets'] = df_atp["Lsets"].apply(lambda x: 1.0 if x == '`1' else float(x))

In [5]:
df_atp['Winner'] = df_atp.Winner.apply(lambda x: x.strip())

In [6]:
df_atp

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52293,67,London,Masters Cup,2018-11-16,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,NaN,1.44,3.40,1.38,3.14
52294,67,London,Masters Cup,2018-11-16,Masters Cup,Indoor,Hard,Round Robin,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,NaN,1.22,6.03,1.17,5.14
52295,67,London,Masters Cup,2018-11-17,Masters Cup,Indoor,Hard,Semifinals,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,NaN,3.40,1.45,3.14,1.38
52296,67,London,Masters Cup,2018-11-17,Masters Cup,Indoor,Hard,Semifinals,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,NaN,1.15,7.72,1.12,6.52
52297,67,London,Masters Cup,2018-11-18,Masters Cup,Indoor,Hard,The Final,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,NaN,6.36,1.22,5.69,1.15

1. -> sample il 20% come test
2. -> costruire un modello "stupido" in cui rank maggiore vince.
3. -> calcolare accuracy

In [19]:
df_atp['LRank'] = df_atp.LRank.apply(lambda x: np.nan if x == 'NR' else float(x))

In [21]:
df_atp['WRank'] = df_atp.WRank.apply(lambda x: np.nan if x == 'NR' else float(x))

In [22]:
df_atp['rank_diff'] = df_atp.WRank - df_atp.LRank

In [23]:
df_atp

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL,rank_diff
0,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-14.0
1,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-51.0
2,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-615.0
3,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-22.0
4,1,Adelaide,Australian Hardcourt Championships,2000-01-03,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-117.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52293,67,London,Masters Cup,2018-11-16,Masters Cup,Indoor,Hard,Round Robin,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,1.44,3.40,1.38,3.14,-5.0
52294,67,London,Masters Cup,2018-11-16,Masters Cup,Indoor,Hard,Round Robin,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,1.22,6.03,1.17,5.14,-6.0
52295,67,London,Masters Cup,2018-11-17,Masters Cup,Indoor,Hard,Semifinals,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,3.40,1.45,3.14,1.38,2.0
52296,67,London,Masters Cup,2018-11-17,Masters Cup,Indoor,Hard,Semifinals,3,Djokovic N.,...,NaN,NaN,NaN,NaN,NaN,1.15,7.72,1.12,6.52,-5.0
52297,67,London,Masters Cup,2018-11-18,Masters Cup,Indoor,Hard,The Final,3,Zverev A.,...,NaN,NaN,NaN,NaN,NaN,6.36,1.22,5.69,1.15,4.0

In [27]:
df_atp.loc[4]

ATP                                            1
Location                                Adelaide
Tournament    Australian Hardcourt Championships
Date                         2000-01-03 00:00:00
Series                             International
Court                                    Outdoor
Surface                                     Hard
Round                                  1st Round
Best of                                        3
Winner                               Fromberg R.
Loser                              Woodbridge T.
WRank                                       81.0
LRank                                      198.0
W1                                           7.0
L1                                           6.0
W2                                           5.0
L2                                           7.0
W3                                           6.0
L3                                           4.0
W4                                           NaN
L4                                           NaN
W5                                           NaN
L5                                           NaN
Wsets                                        2.0
Lsets                                        1.0
Comment                                Completed
CBW                                          NaN
CBL                                          NaN
GBW                                          NaN
GBL                                          NaN
IWW                                          NaN
IWL                                          NaN
SBW                                          NaN
SBL                                          NaN
B365W                                        NaN
B365L                                        NaN
B&WW                                         NaN
B&WL                                         NaN
EXW                                          NaN
EXL                                          NaN
PSW                                          NaN
PSL                                          NaN
WPts                                         NaN
LPts                                         NaN
UBW                                          NaN
UBL                                          NaN
LBW                                          NaN
LBL                                          NaN
SJW                                          NaN
SJL                                          NaN
MaxW                                         NaN
MaxL                                         NaN
AvgW                                         NaN
AvgL                                         NaN
rank_diff                                 -117.0
Name: 4, dtype: object